In [34]:
import pandas as pd
import numpy as np

df = pd.read_excel('Citizenship of Canada by 2013.xlsx')
#Loading Data
print(df.head())
#Finding Missing Values
print(df.isnull().sum())
#Replacing Missing Values
columns_to_replace = [f"Year_{y}" for y in range(1980, 2014)]

# Convert to numeric (just in case)
df[columns_to_replace] = df[columns_to_replace].apply(pd.to_numeric, errors="coerce")

# Convert zeros â†’ NaN
df[columns_to_replace] = df[columns_to_replace].replace(0, np.nan)

# Replace inf and -inf with NaN
df = df.replace([np.inf, -np.inf], np.nan)

# Fill NaN with column mean (numeric columns only)
df = df.fillna(df.mean(numeric_only=True))

# Fill NaN with column mean
df[columns_to_replace] = df[columns_to_replace].apply(lambda col: col.fillna(col.mean()))

#Replace Negative Values

# Generate column names dynamically
Neg_Values = [f"Year_{y}" for y in range(1980, 2014)]

# Replace negative values with column mean
df[Neg_Values] = df[Neg_Values].apply(lambda col: np.where(col < 0, col[col >= 0].mean(), col))

df.to_excel('Cleaned Citizenship of Canada by 2013 New.xlsx', index=False)

print("The Cleaned File Of Citizenship of Canada by 2013.xlsx Is Ready Now")

         Type    Coverage          OdName  AREA AreaName   REG  \
0  Immigrants  Foreigners     Afghanistan   935     Asia  5501
1  Immigrants  Foreigners         Albania   908   Europe   925
2  Immigrants  Foreigners         Algeria   903   Africa   912
3  Immigrants  Foreigners  American Samoa   909  Oceania   957
4  Immigrants  Foreigners         Andorra   908   Europe   925

           RegName  DEV             DevName    Year_1980  ...    Year_2004  \
0    Southern Asia  902  Developing regions    16.000000  ...  2978.000000
1  Southern Europe  901   Developed regions     1.000000  ...  1450.000000
2  Northern Africa  902  Developing regions    80.000000  ...  3616.000000
3        Polynesia  902  Developing regions  -990.000000  ...  2549.427027
4  Southern Europe  901   Developed regions  2052.402878  ...  2549.427027

     Year_2005  Year_2006    Year_2007  Year_2008    Year_2009    Year_2010  \
0  3436.000000     3009.0  2652.000000     2111.0  1746.000000  1758.000000
1  1223.000000      856.0   702.000000      560.0   716.000000   561.000000
2  3626.000000     4807.0  3623.000000     4005.0  5393.000000  4752.000000
3  2835.048649        1.0  2545.731183        inf  2711.505376  3034.454054
4  2835.048649        1.0     1.000000        inf  2711.505376  3034.454054

     Year_2011    Year_2012    Year_2013
0  2203.000000  2635.000000  2004.000000
1   539.000000   620.000000   603.000000
2  4325.000000  3774.000000  4331.000000
3  2689.167568  2773.150538  2785.172043
4  2689.167568     1.000000     1.000000

[5 rows x 43 columns]
Type         0
Coverage     0
OdName       0
AREA         0
AreaName     0
REG          0
RegName      0
DEV          0
DevName      0
Year_1980    0
Year_1981    0
Year_1982    0
Year_1983    0
Year_1984    0
Year_1985    0
Year_1986    0
Year_1987    0
Year_1988    0
Year_1989    0
Year_1990    0
Year_1991    0
Year_1992    0
Year_1993    0
Year_1994    0
Year_1995    0
Year_1996    0
Year_1997    0
Year_1998    0
Year_1999    0
Year_2000    0
Year_2001    0
Year_2002    0
Year_2003    0
Year_2004    0
Year_2005    0
Year_2006    0
Year_2007    0
Year_2008    0
Year_2009    0
Year_2010    0
Year_2011    0
Year_2012    0
Year_2013    0
dtype: int64
The Cleaned File Of Citizenship of Canada by 2013.xlsx Is Ready Now